/* Main stylesheet, connected to index.html in include.js. Will be included in child pages alongside index.html through include.js. Only includes styles common to all child pages or used for index.html */

/* Importing bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Box sizing settings */

* {box-sizing:border-box}

/*Image sizing */
img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  border: 1rem solid #ddd;
  margin-bottom: 5%;
}

/* .navbar formatting, connects to child css files */
.navbar{
  margin-top: 2%;
  overflow: auto;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  width: 100%;
  border-radius: 0px;
  margin-bottom: -2%;
  margin-top: -1%;
  border-top: 30px solid #2b2b2b;
}

/* Navigation button placement */
.nav-pills {
  margin-top: 2%;
  padding-right: .5%;
  padding-left: .5%;
  padding-bottom: 1%;
  padding-top: 1%;
  min-width: 48px;
  min-height: 48px;
  margin-bottom: 1.5%;
}

/* Formats navigation buttons and text */
.nav-pills li a {
  color: #3b3b3b;
  background-color: #eadefc;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.2rem;
  font-weight: 50;
  letter-spacing: 1px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  margin-bottom: 2%;
}

/* h1 (title) formatting */
h1 {
  margin-top: 7%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 6rem; 
  padding-bottom: 4rem;
  color: #f4edff;
}

/* h2 (page heading) formatting) */
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  font-size: 3.2rem;
  color: #3f3f3f;
  letter-spacing: 2px;
}

/* h3 (subsection heading) formatting */
h3 {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: 540;
 font-size: 2.5rem;
 color: #3f3f3f;
 letter-spacing: 2px;
}

/* h4 (page summary) formatting */
h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  color: #585858;
  text-indent: 50px;
  letter-spacing: 1px;
  line-height: 200%;
  padding-left: 2rem;

}

/* paragraph text formatting */
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.9rem;
  color: #3d3d3d;
  padding-left: 2rem;
  line-height: 180%;
}

/* Format icons */
.fab {
  color: #58585846;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* Format footer */
footer {
  padding: 2rem;
  text-align: center;
}

/* Change size of navbar and maintext */
@media (min-width: 768px) {
    .navbar{
        max-width: 110%;
    }
}

/* Format table */
table {
  border: 5px solid #4b2073;
  border-collapse: separate;
  margin: auto;
  border-radius: 3px;
}

/* Format table heading only */
th {
  background-color: #4b2073;
  margin: auto;
  font-size: 150%;
  border-spacing: 6%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  color: #f4edff;
  border-left: 2px solid #d4d4d4;
  border-right: 2px solid #d4d4d4;
}

/* Format table details only */
td {
  border: 2px solid;
  margin: auto;
  font-size: 120%;
  border-spacing: 6%;
  min-width: 50px;
  max-width: 500px;
}

/* Format all table elements */
table, th, td {
  width: 100%
  border-color: #333333;
}

/* Format only table cells */
th, td {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

@media screen and (min-width: 800px) {
 
  td {
    min-width: 100px;
}  

}

/* Table alternating stripes */
tr:nth-child(even) {background-color: #f2f2f2;}

/* Table row change color on hover */
tr:hover {background-color: #acd7f079;}

/* Main text area formatting */
.main_text {
  background-color: white;
  width: 100vw;
  padding: 3%;
  border-top: 50px solid #2b2b2b;
  border-bottom: 100px solid #2b2b2b;
}
#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a :focus
{
position:static;
width:auto;
weight:auto;
}

a:hover, a:visited, a:focus {
  color: #a60000;
  text-decoration: none;
}

/* Controls the background color of the section of the website with the title and carousel, sets border radius */
.top_background_home {
  background-color: #4b2073;
  border-radius: 5px;
  width: 100%;
  margin-right -5%;
}

/* Controls the background color of the rest of the webpage (not containing text) */
.bottom_background_home {
  background-color: #bea2db;
}

input {
  border-radius: 3px;
  border: 2px solid #4b2073;
  padding: 5px;
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
  height: 50px;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

caption {
  color: white;
}

label {
  color: #1c1c1c;
  font-size: 160%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}
